:root {
  --primary-color: #f9f7fe;
  --secondary-color: #6c63ff;
}
@media (max-width: 770px) {
  p,
  h2 {
    text-align: center;
    margin: 0 auto;
  }
  .learn-more .btn-primary-outline {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 5px 15px;
  }
}

h2 {
  font-size: 64px;
  font-weight: 700;
  font-family: "Playfair Display";
}

p {
  font-size: 16px;
}

.hero h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 128px;
  letter-spacing: 0em;
  font-family: "Playfair Display", serif;
  padding-bottom: 24px;
}

.hero h2 {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 700;
}

.hero p {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 49px;
}

.hero {
  background-color: var(--primary-color);
  padding-top: 175px;
  padding-bottom: 180px;
}

.hero .get-started {
  background-color: var(--secondary-color);
  display: block;
  margin: 0 auto;
  padding: 18px 46px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
}

.learn-more .btn-primary-outline {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  padding: 5px 15px;
}

@media (max-width: 670px) {
  .hero h1 {
    font-size: 46px;
  }
}

.image-container {
  display: block;
  width: 100%;
}
